@import "variables";
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    color: white;
    font-family: $font-primary;
}
.mobile-container {
    height: 100vh;
    width: 100vw;
    background-color: #0c0b2f;
}

@media screen and (min-width: 450px) {
    .main {
        justify-content: center;
        align-items: center;
    }
    .mobile-container {
        height: 85vh;
        width: 28vw;
        max-width: 450px;
        min-width: 370px;
        border-radius: 20px;
    }
}
@media screen and (max-height: 600px) {
    .main {
        justify-content: center;
        align-items: center;
    }
    .mobile-container {
        height: 95vh;
    }
}

.content {
    margin: 0 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        margin: 30px 0px;
        font-size: 1.5em;
        font-weight: bold;
        font-family: $font-head;
    }
    .greet {
        color: $lightgray;
        font-size: 0.5em;
        font-weight: lighter;
        margin-top: 5px;
        letter-spacing: 0.5px;
    }
    .icons > * {
        margin: 0px 5px;
        color: $lightgray;
    }
    .icons {
        margin-right: 0px;
    }
}
.loader {
    display: flex;
    height: 30vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.chart {
    position: absolute;
    width: 60%;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
}
