@import "variables";
.sidebar {
    width: 30vw;
    min-width: 300px;
    padding: 30px;
    height: 100%;
    h1 {
        font-family: $font-head;
    }
    button {
        width: 100%;
        font-weight: bold;
    }
    .actions {
        .item {
            padding: 0px 20px;
            display: flex;
            align-items: center;
            svg {
                margin-right: 10px;
            }
        }
    }

    .price-cards-container {
        overflow: hidden;
        overflow-y: auto;
        width: 100%;
        .price-card {
            background-color: $purplebg;
            width: 100%;
            justify-content: space-between;
            svg {
                color: $purple;
            }
            .details {
                align-items: center;
                img {
                    display: none;
                }
            }
        }
        .symbol {
            color: #000;
            font-weight: bolder;
        }
        .title {
            display: none;
        }
    }
}
